@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    color: #333;
    background-color: #f4f4f4;
    line-height: 1.6;
}

header {
    background-color: white;
    color: black;
    padding: 40px 20px;
    text-align: center;
    position: relative;
}

.logo img {
    width: 150px;
    margin-bottom: 20px;
}

header h1 {
    font-size: 2.5em;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 10px;
}

.Regístrate {
	position: absolute;
	top: 33px;
	right: 42px;
	transform: translateY(-50%);
}

.Regístrate a {
    background-color: #A80202;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: 600;
    transition: background-color 0.3s ease;
}

.Regístrate a:hover {
    background-color: #45a049;
}

nav ul {
    background-color: #333;
    padding: 15px;
    text-align: center;
}

nav ul li {
	display: inline-block;
	margin: 0 20px;
	font-size: 1.2em;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	text-align: left;
}

nav ul li a {
    color: darkred;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: 600;
    transition: color 0.3s ease;
}

nav ul li a:hover {
	color: #FFFF00;
}

section {
    padding: 60px 20px;
    text-align: center;
}

#sobre-nosotras {
    background-color: #f9f9f9;
}

#proyectos {
    background-color: white;
}

#servicios {
    background-color: #f1f1f1;
}

h2 {
    font-size: 2.2em;
    margin-bottom: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #333;
}

p {
    font-size: 1.1em;
    max-width: 800px;
    margin: 0 auto;
    margin-bottom: 40px;
    color: #555;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    font-size: 1.2em;
    margin-bottom: 10px;
}

#proyectos div {
    display: inline-block;
    width: 280px;
    margin: 20px;
    text-align: center;
}

#proyectos img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

#proyectos img:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

footer {
    background-color: #222;
    color: white;
    padding: 20px;
    text-align: center;
    margin-top: 40px;
}

footer a {
    color: #4CAF50;
    text-decoration: none;
    font-weight: 600;
    transition: color 0.3s ease;
}

footer a:hover {
    color: white;
}

@media (max-width: 768px) {
    nav ul li {
        display: block;
        margin: 10px 0;
    }

    .Regístrate {
        position: static;
        transform: none;
        margin-top: 20px;
    }

    header h1 {
        font-size: 2em;
    }
}
